extends ../base.pug

block variables 
    - var template = 'about'

block content   
    main.about   
        // To implement smooth-scrolling
        .about__wrapper
            include ../partials/header