extends ../base.pug

block variables 
    - var template = 'contact'

block content   
    main.contact   
        // To implement smooth-scrolling
        .contact__wrapper
            include ../partials/header