extends ../base.pug

block variables 
    - var template = 'home'

block content   
    main.home   
        // To implement smooth-scrolling
        .home__wrapper
            include ../partials/header